@font-face {
    font-family: "ORCAExt";
    src : url("./src/core/font/ocraextended.ttf") format("truetype");
}
* {
	margin : 0;
	padding : 0;
	font-weight : bold;
	font-family : "ORCAExt";
}
body {
	float : none;
	color : white;
	.main {
		background : #000;
		background-origin : center;
		background-size : cover;
		width : 100%;
		height : 100%;
		.icon {
			display : flex;
			width : 100%;
			height : 8%;
			background : #101010;
			align-items : center;
			justify-content : center;
			transition : 0.4s ease-in-out;
			
			.logo {
				transition : 0.4s ease-in-out;
				text-align : center;
			}
			&:hover {
				background : white;
				height : 10%;
				.logo {
					color : black;
					font-size : 200%;
				}
			}
		}
		.nav_bar {
			.menu {
				background : #151515;
				width : 100%;
				ul {
					display : flex;
					justify-content : center;
					height : 10%;
					align-items : center;
					text-align : center;
					list-style : none;
					li { 
						margin : 5%; 
						a {
							text-decoration : none;
							color : white;
							transition : 0.4s ease-in-out;
							&:hover {
								color : gray;
								font-size : 120%;
							}
						}
					}
				}
			}
		}
		.content {
			width : 100%;
			color : fff;
			padding-top : 2%;
			text-align : center;
			.topic {
				ul li {
					list-style : none;
					font-size : 14px;
					padding-top : 2%;
				}
					ul li a {
						text-decoration : none;
						color : white;
						font-weight : bold;
						transition : 0.4s ease-in-out;
					}
						ul li a:hover {
							color : gray;
							font-size : 120%;
						}
			}
			a {
				text-decoration : none;
				color : fff;
			}
		}
	}
}