@font-face {
    font-family: "ORCAExt";
    src : url("../src/core/font/ocr-a-extended.ttf") format("truetype");
}
* {
	margin : 0;
	padding : 0;
	font-weight : bold;
	font-family : "ORCAExt", , sans-serif;
	font-size : 30px;
	
	transition : 0.2s ease-out;
}
body {
	.cursor_zone {
		pointer-events : none;
		position : fixed;
		z-index : 1;
		top : 0;
		left : 0;
		width : 30px;
		height : 30px;
		border : 2px solid #fff;
		border-radius : 5px;
		margin : -15px 0px 0px -15px;
	}
	.main {
		background : #000;
		background-origin : center;
		background-size : cover;
		width : 100%;
		height : 150%;
		.icon {
			display : flex;
			width : 100%;
			height : 50px;
			background : #101010;
			align-items : center;
			justify-content : center;
			.logo {
				color : #fff;
				text-align : center;
			}
			&:hover {
				background : #fff;
				height : 80px;
				.logo {
					color : #000;
					font-size : 120%;
				}
			}
		}
		.nav_bar {
			.menu {
				background : #202020;
				width : 100%;
				ul {
					display : flex;
					justify-content : center;
					height : 50px;
					align-items : center;
					text-align : center;
					list-style : none;
					li {
						width : 20%;
						a {
							text-decoration : none;
							font-size : 60%;
							color : #fff;
							&:hover {
								color : #505050;
								font-size : 80%;
							}
						}
					}
				}
			}
		}
		.content {
			width : 100%;
			color : #fff;
			padding-top : 2%;
			text-align : center;
			.topic {
				h3 {
					font-size : 80%;
				}
				ul {
					display : flex;
					list-style : none;
					flex-wrap : wrap;
					justify-content : center;
					flex-direction : column;
					padding-top : 2%;
					li 
					{
						a {
							text-decoration : none;
							font-size : 60%;
							color : #fff;
							
							#description {
								position: absolute;
								background: none;
								visibility : hidden;
								text-align : left;
								padding-left : 10%;
								opacity : 0;
								p {
									font-size : 40%;
								}
							}
							
							&:hover {
								color: #505050;
								font-size: 80%;
						
								#description {
									color : #fff;
									opacity : 1;
									visibility : visible;
								}
							}
						}
					}
				}
			}
			a {
				text-decoration : none;
				color : fff;
				img {
					width : 20px;
					height : 20px;
				}
			}
			h1 {
				align-items : center;
				padding-top : 1%;
				font-size : 100%;
				p {
					padding-top : 0.5%;
					font-size : 60%;
				}
			}
		}
		.project-to-do_list {
			margin : 0 auto;
			width : 500px;
			height : 300px;
			color : #fff;
			padding-top : 2%;
			text-align : center;
			display : flex;
			flex-direction : column;
			align-items : center;
			border : 2px solid #fff;
			border-radius : 5px;
			.input {
				padding-top : 10px;
			}
			.counter {
			}
			.delete-button {
			}
		}
		.author {
			width : 100%;
			color : #fff;
			padding-top : 2%;
			text-align : center;
			display : flex;
			flex-direction : column;
			align-items : center;
		}
	}
}